<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>


<p class="text-center text-muted p-3 bg-light border">
  © Copyright 2022 
  <a href="https://github.com/maulanadata" class="text-decoration-none"> @maulanadata </a>
</p>
