<div class="bg-light">
  <a class="fw-bold text-center text-decoration-none text-muted" style="color: black;"
  href="/">API Documentation</a>
  <hr>

  <ul class="navbar-nav ms-4">
    <li class="nav-item">
      <a class="nav-link" href="#introduction">Introduction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex justify-content-between align-items-center" 
        href="#createWorker">Create Worker
        <span class="badge bg-primary rounded-pill">post</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex justify-content-between align-items-center" 
        href="#readWorker">Read Worker
        <span class="badge bg-success rounded-pill">get</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex justify-content-between align-items-center" 
        href="#updateWorker">Update Worker
        <span class="badge bg-warning rounded-pill">put</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex justify-content-between align-items-center" 
        href="#deleteWorker">Delete Worker
        <span class="badge bg-danger rounded-pill">delete</span>
      </a>
    </li>
  </ul>

</div>


