<div id="introduction">
  <h2 class="fw-bold text-muted"> Introduction </h2>
  <hr style="width: 300px;">

<p>
  Sebagai seorang programmer pemula, kita perlu eksplor banyak ilmu yang dapat menunjang pemahaman kita terkait pemrograman, baik itu front-end maupun back-end.
</p>
<p>
  Disini kami sediakan Rest Api gratis sebagai sarana pembelajaran untuk programmer pemula yang sedang mempelajari basic CRUD data Rest Api. Anda bisa mengelolanya secara pribadi (hanya ambil data dari kami) ataupun secara langsung (koneksi CRUD dari kami). Untuk aksesnya bisa langsung copy URL yang ada di bawah.
</p>
<br />
<p> URL : <mark> https://employee-apiku.herokuapp.com/worker </mark> </p>
<br />
<p>
  Terimakasih.
</p>

</div>