<div id="updateWorker" class="mt-5">
  <h2 class="fw-bold text-muted"> Update Worker </h2>
  <hr style="width: 300px;">

  <p>
    kami berikan parameter apa saja yang dibutuhkan untuk melakukan <mark> update </mark> data. Berikut parameter yang perlu anda catat.
  </p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" style="width: 25%;">Parameter</th>
        <th scope="col">Tipe data</th>
        <th scope="col">Keterangan</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><mark> salary </mark></td>
        <td>Integer</td>
        <td>Mengubah gaji</td>
      </tr>
      <tr>
        <td><mark> departement </mark></td>
        <td>String</td>
        <td>Mengubah departement</td>
      </tr>
    </tbody>
  </table>

  <p> NB : Parameter diatas berjalan pada <mark>req.query</mark> </p>
  <p> Contoh penggunaan : </p>
  <div>
    <h5> Mengedit data </h5>
    <textarea class="box-script" rows="2" cols="55">
      https://employee-apiku.herokuapp.com/worker/10
    </textarea>
  </div>
  <textarea class="box-script" rows="5" cols="35">
    {
      "salary": 5000000,
      "departement": "Operator"
    }
  </textarea>


</div>
