<!DOCTYPE html>
<html lang="en">
  <div>
    <%- include('./partials/header'); %>
  </div>
<body>
  <div class="container mw-100">

    <h4> Selamat datang di Rest API data karyawan</h4>
    <button> 
      <a href="/docs" style="text-decoration: none; color: black;"
      > Documentasi API </a> 
    </button>

  </div>
</body>
</html>
