<div id="readWorker" class="mt-5">
	<h2 class="fw-bold text-muted">Read Worker</h2>
	<hr style="width: 300px" />

	<p>
		kami berikan parameter apa saja yang dibutuhkan untuk melakukan
		<mark>read</mark> data. Berikut parameter yang perlu anda catat.
	</p>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col" style="width: 25%">Parameter</th>
				<th scope="col">Keterangan</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><mark> / </mark></td>
				<td>Menampilkan semua data</td>
			</tr>
			<tr>
				<td><mark> /{:id} </mark></td>
				<td>Menampilkan data berdasarkan ID</td>
			</tr>
			<tr>
				<td><mark> /salary/{:salary} </mark></td>
				<td>Menampilkan data berdasarkan gaji</td>
			</tr>
			<tr>
				<td><mark> /departement/{:departement} </mark></td>
				<td>Menampilkan data berdasarkan departement</td>
			</tr>
		</tbody>
	</table>

	<p>NB : Parameter diatas berjalan pada <mark>req.params</mark></p>
	<p>Contoh penggunaan :</p>
	<div>
		<h5>Menampilkan semua data</h5>
		<pre class="box-script">
http://localhost:port/worker/
    </pre>
	</div>
	<div>
		<h5>Menampilkan semua data berdasarkan ID</h5>
		<pre class="box-script">
http://localhost:port/worker/6
    </pre>
	</div>
	<div>
		<h5>Menampilkan semua data berdasarkan gaji</h5>
		<pre class="box-script">
http://localhost:port/worker/salary/7500000
    </pre>
	</div>
	<div>
		<h5>Menampilkan semua data berdasarkan departement</h5>
		<pre class="box-script">
http://localhost:port/worker/departement/hr
    </pre>
	</div>
</div>
