<div id="updateWorker" class="mt-5">
	<h2 class="fw-bold text-muted">Update Worker</h2>
	<hr style="width: 300px" />

	<p>
		kami berikan parameter apa saja yang dibutuhkan untuk melakukan
		<mark>update</mark> data. Berikut parameter yang perlu anda catat.
	</p>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col" style="width: 25%">Parameter</th>
				<th scope="col">Tipe data</th>
				<th scope="col">Keterangan</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><mark> salary </mark></td>
				<td>Integer</td>
				<td>Mengubah gaji</td>
			</tr>
			<tr>
				<td><mark> departement </mark></td>
				<td>String</td>
				<td>Mengubah departement</td>
			</tr>
		</tbody>
	</table>

	<p>
		NB : Parameter diatas berjalan pada <mark>req.body</mark> dengan id yang
		sudah ditentukan. Untuk update hanya tersedia untuk "salary" dan atau
		"departement".
	</p>
	<p>Contoh penggunaan :</p>
	<div>
		<h5>Mengedit data</h5>
		<div class="box-script">
			<% if(process.env.BASE_URL){ %>
			<span><%= process.env.BASE_URL %>/worker/10</span>
			<% } else { %>
			<span>http://localhost:port/worker/10</span>
			<% } %>
		</div>
	</div>
	<pre id="update-worker" class="box-script"></pre>
</div>

<script>
	const updateWorker = {
		salary: 5000000,
		departement: "Operator",
	};

	const updateWorkerString = JSON.stringify(updateWorker, null, 2);
	const updateWorkerElement = document.getElementById("update-worker");
	updateWorkerElement.textContent = updateWorkerString;
</script>
